[submodule "Firmware/ARYTHMATIK_Buds/src/libmodulove"]
	path = Firmware/ARYTHMATIK_Buds/src/libmodulove
	url = https://github.com/awonak/libModulove.git
[submodule "Firmware/ARYTHMATIK_Pong/src/libmodulove"]
	path = Firmware/ARYTHMATIK_Pong/src/libmodulove
	url = https://github.com/awonak/libModulove.git
[submodule "Firmware/ARYTHMATIK_Labor/src/libmodulove"]
	path = Firmware/ARYTHMATIK_Labor/src/libmodulove
	url = https://github.com/awonak/libModulove.git
