# KiCAD Temp and Backup #
#########################
fp-info-cache
fp-lib-table
sym-lib-table
*.kicad_pcb-bak
*.sch-bak
*-cache.lib
*-rescue.*
*.dcm
*.bck
*-backups
.vscode/extensions.json
.gitignore
.vscode/tasks.json
.vscode/launch.json
.vscode/arduino.json
.vscode/c_cpp_properties.json
